@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mende+Kikakui&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mende+Kikakui&family=Oswald&display=swap');

html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}
.contain-warp{
    /* display: flex; */
    height: 100%;
    background-color: rgb(209, 209, 209); 
}
nav{
    width: 200px;
    height: 657px;
    background-color: rgb(255, 255, 255); 
    color: rgb(44, 44, 44);
    position: fixed;
}
.title-nav{
    /* border-bottom:1px solid rgb(44, 44, 44); */
    height: 50px;
    padding-top:30px;
}
.main-warp{
    display: flex;
    margin-top: 10px;
}
h1{
   text-align: center; 
}
ul{ 
    list-style: none;    
    /* padding-top: 10px; */
}
li{
    padding-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}
li:hover{
    background-color: rgb(199, 242, 243);
    width: auto;
    margin-left: 8px;
    margin-right: 8px;
    border-radius: 3px;
    
}
a{
    text-decoration: none;
    color: #0f1a44;
    display: block;
    padding-bottom: 10px;
    font-size: 16px;
    font-family: 'Noto Sans Mende Kikakui', sans-serif;
}
a:hover{
    text-decoration: none;
    color: #7289da;
    display: block;
    
    /* padding-bottom: 10px; */
    /* padding-right: 5px; */
}
header{
    width: 1443px;
    background-color: rgb(255, 255, 255);
    height: 80px;
    position: fixed;
    z-index: 3;
    box-shadow: 1px 1px 1px rgb(225, 227, 228);
}
.title-had{
    margin-left: 30px;
    margin-top: 50px;
}
.title-had img{
    /* margin-left: 30px; */
    padding-top: 15px;
}
.contain-maian{
    margin-left: 10px;
}
main{
    width: 1365px;
    background-color: rgb(235, 235, 235); 
    height: 550px;
}
footer{
    width: 1365px;
    background-color: rgb(255, 255, 255);
    height: 80px;
}
